@model CRUDAPP.Models.Directors.AddDirectorViewModel

<h1>Add a new director</h1>
<form method="post" action="Add" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Surname</label>
        <input type="text" class="form-control" asp-for="Surname">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Date of birth</label>
        <input type="date" class="form-control" asp-for="DateOfBirth">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Date of death</label>
        <input type="date" class="form-control" asp-for="DateOfDeath">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Rating</label>
        <input type="number" class="form-control" asp-for="Rating">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Link</label>
        <input type="text" class="form-control" asp-for="Link">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </div>
</form>