@using CRUDAPP.Models.Movies
@model CRUDAPP.Models.AddMovieViewModel


@{
    var directorsList = Model.Directors.Select(d => new Microsoft.AspNetCore.Mvc.Rendering.SelectListItem
    {
        Value = d.Id.ToString(),
        Text = d.Name + " " + d.Surname
    });
}

<h1>Add a new movie</h1>
<form method="post" action="Add" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Title</label>
        <input type="text" class="form-control" asp-for="Title">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Director</label>
        <select class="form-control" asp-for="SelectedDirectorId" asp-items="directorsList">
            <option value="">Select a director</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Production date</label>
        <input type="date" class="form-control" asp-for="Production">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Type</label>
        <select class="form-control" asp-for="Types" asp-items="Html.GetEnumSelectList<EMovieType>()">
        </select>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Rating</label>
        <input type="number" class="form-control" asp-for="Rating">
    </div>

    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </div>
</form>